{% extends 'chirper/base.html' %}
{% block title %}<title>Chirper | {{poster}} </title>{% endblock title %}

{% block content %}
    <div class='container text-center mt-3'>
        <h2>{{poster}}'s Profile</h2>
        <p>Here is what {{poster}} has been chirping about:</p>
    </div>
    <div class='container mt-3'>
        <ul class='list-group'>
            {% for post in posts %}
                <li class='list-group-item mt-2'>{{post}} <span id='post-secondary-content'>&raquo; posted by <a id='user-name' href="{% url 'chirper:profile' post.poster %}">{{post.poster}}</a> - {{post.date_added|date:'M d y, H:i'}}.
                    {% if post.poster == request.user %} |
                    <a class='link-success' href="{% url 'chirper:edit_post' post.id %}">Edit chirp</a>
                    {% endif %} |
                    <a class='link-success' href="{% url 'chirper:reply' post.id %}">See replies</a>
                </li>
            </span>
            {% empty %}
                    <p>Looks like {{poster}} has said nothing yet. </p>
            {% endfor %}
            </ul>
        </div>
{% endblock content %}


