{% extends 'chirper/base.html' %}
{% load django_bootstrap5 %}
{% block title %}<title>Chirper | Reply </title>{% endblock title %}

{% block content %}


<div class="container text-center mt-4">
    <div class="card" id='original-post'>
        <p><b> Original Post</b></p>{{post}}  <i>posted by {{post.poster}}</i> on {{post.date_added}}
    </div>
    <div class="row align-items-center mt-2" id="reply-container">
        <p>Previous replies:</p>
        <div class="col" id="reply-list">
        {% for reply in replies  %}
                <div id='replies'>"{{reply}}" - <a id='replier' href="{% url 'chirper:profile' post.poster %}"><i>{{reply.replier}}</i></a><br/>
                </div>

            {%empty%}
            <p>No replies here!</p>
            {% endfor %}
    </div>
</div>

<div class='container text-center mt-5'>
        <div class='row justify-content-md-center'>
        <div class="col-lg-4">
            <form class="body-center" action="{% url 'chirper:reply' post.id %}" method='post'>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content="Reply" %}
            </form>
            </div>
        </div>
    </div>

{% endblock content %}